extends ./../partials/head
block content
  .full-size-image-wrapper
    i.fas.fa-chevron-left.full-size-image-go-left-button.not-allowed-button
    img(alt="codefest uaa galeri")
    i.fas.fa-chevron-right.full-size-image-go-right-button
  //- .background-wrapper
  //-   img(loading="lazy" src="/res/images/dashboard_image.png" alt="codefest")
  .background-small-wrapper
    img(src="/res/images/dashboard_image.png" alt="codefest")
  .all-wrapper
    .all-header-outer-wrapper
      .all-header-wrapper
        .all-header-logo-wrapper
          img(src="/res/images/header_logo.png" alt="codefest")
        .all-header-buttons-wrapper
          span.each-all-header-button.each-all-header-button-selected.main-page-button Ana Sayfa
          span.each-all-header-button.current-codefest-button CodeFest'22
          span.each-all-header-button.about-us-page-button Hakkında
          span.each-all-header-button.old-events-button Geçmiş Etkinlikler
          span.each-all-header-button.images-button Galeri
        .all-header-responsive-buttons-wrapper
          i.each-all-header-button.each-all-header-button-selected.main-page-button.fas.fa-home
          i.each-all-header-button.current-codefest-button CF'21
          i.each-all-header-button.about-us-page-button.fas.fa-info-circle
          i.each-all-header-button.old-events-button.fas.fa-clock
          i.each-all-header-button.images-button.fas.fa-images
    .all-content-wrapper
      .start-page-wrapper
        span.start-page-title CodeFest'22
          //- span.start-page-title-online online
        .start-page-subtitle-wrapper
          .start-page-line
          span.start-page-subtitle Geldim, Gördüm, Kodladım.
        a.apply-button(href="https://forms.gle/2oYKAbWfAUN1MdUf6" target="_blank") Hemen Başvur!
        .start-page-date-wrapper
          .start-page-left-date
            span 29 Mayıs 2022
          .start-page-right-date
            span ONLINE
        //- span.start-page-new-date-text Yarışmamız 5 Haziran tarihine ertelenmiştir.
      .current-contest-wrapper
        .form-page-wrapper
          .form-left-wrapper
            span.form-title İletişim Formu
            .form-border
            span.form-subtitle Bu yıl yedincisi düzenlenecek liselerarası ilk ve tek kodlama etkinliği olan CodeFest, 29 Mayıs 2022'de çevrimiçi olarak gerçekleştirilecek. Geçen sene olduğu gibi bu sene de Covid-19 önlemleri nedeniyle etkinliğimiz bir gün olacak ve ek yarışma gerçekleşmeyecek.
            span.form-subtitle Gelişmelerden haberdar olmak için İletişim Formu'nun doldurmayı unutmayın!
          .form-right-wrapper
            .each-input-line
              input.each-input#name-input(type="text" placeholder="Adınız" autocomplete="none" style="margin-left: 0px")
              input.each-input#surname-input(type="text" placeholder="Soyadınız" autocomplete="none" style="margin-right: 0px")
            .each-input-line
              input.each-input#email-input(type="text" placeholder="E-Posta Adresi" autocomplete="none" style="margin-left: 0px")
              input.each-input#phone-input(type="text" placeholder="Telefon Numarası" autocomplete="none" style="margin-right: 0px")
            textarea.each-input#details-input(type="text" rows="5" placeholder="Detay (Opsiyonel)" autocomplete="none" style="margin: 0px; width: 100%;")
            .form-send-line
              .form-send-button
                span Gönder
              span.form-error-message#general-error-span Bir hata oluştu, lütfen daha sonra tekrar deneyin.
              span.form-error-message#already-registered-error-span Bu e-posta adresi ile zaten bir kayıt alınmış.
              span.form-error-message#missing-information-error-span Lütfen gerekli tüm bilgileri doldurun.
              span.form-error-message#finished-span Kaydınız alındı, ekibimiz en kısa zamanda size ulaşacak. Teşekkürler.
        .contest-schedule-wrapper
          span.schedule-title Yarışma Programı
          .contest-schedule-inner-wrapper
            .contest-day-one-wrapper
              span.contest-schedule-title 29 Mayıs 2022
              span.contest-schedule-subtitle Pazar
              .contest-schedule-point
                span.contest-schedule-hour 08:30-09:00
                span.contest-schedule-event Açılış Töreni
              .contest-schedule-point
                span.contest-schedule-hour 09:00-10:30
                span.contest-schedule-event Çalıştaylar (1. Seans)
              .contest-schedule-point
                span.contest-schedule-hour 10:30-10:50
                span.contest-schedule-event Ara
              .contest-schedule-point
                span.contest-schedule-hour 10:50-12:20
                span.contest-schedule-event Çalıştaylar (2. Seans)
              .contest-schedule-point
                span.contest-schedule-hour 12:20-12:30
                span.contest-schedule-event Ara
              .contest-schedule-point
                span.contest-schedule-hour 12:30-12:45
                span.contest-schedule-event Çalıştay Katılımcıları için Tören
              .contest-schedule-point
                span.contest-schedule-hour 12:45-13:15
                span.contest-schedule-event Öğlen Arası
              .contest-schedule-point
                span.contest-schedule-hour 13:15-13:30
                span.contest-schedule-event Yarışma Formatının Açıklanması
              .contest-schedule-point
                span.contest-schedule-hour 13:30-18:30
                span.contest-schedule-event Ana Yarışma
              .contest-schedule-point
                span.contest-schedule-hour 18:30-19:30
                span.contest-schedule-event Ara
              .contest-schedule-point
                span.contest-schedule-hour 19:30-20:30
                span.contest-schedule-event Kapanış Töreni
            //- .contest-day-two-wrapper
              span.contest-schedule-title 30 Mayıs 2021
              span.contest-schedule-subtitle Pazar
              .contest-schedule-point
                span.contest-schedule-event Açılış Töreni
                span.contest-schedule-hour-right 09:30-9:50
              .contest-schedule-point
                span.contest-schedule-event Ara
                span.contest-schedule-hour-right 09:50-10:00
              .contest-schedule-point
                span.contest-schedule-event Ana Yarışma
                span.contest-schedule-hour-right 10:00-15:00
              .contest-schedule-point
                span.contest-schedule-event Ara
                span.contest-schedule-hour-right 15:00-16:00
              .contest-schedule-point
                span.contest-schedule-event Kapanış Töreni
                span.contest-schedule-hour-right 16:00-17:00
      .about-us-page-wrapper
        .about-us-left-wrapper
          img(src="/res/images/aboutus.png" alt="codefest about us")
        .about-us-right-wrapper
          .about-us-right-inner-wrapper
            span.about-us-title
              span H
              span A
              span K
              span K
              span I
              span M
              span I
              span Z
              span D
              span A
            .about-us-border-bottom
             -for (let i = 0; i < 200; i++)
                .each-about-us-border-point
            span.about-us-text CodeFest 2016 yılından beri Üsküdar Amerikan Lisesi öğrencileri tarafından düzenlenmekte. İki gün olan etkinlikte çalıştaylar ve yarışmalar yapılıyor, katılımcılar bir yandan kendilerini geliştirirken bir yandan da çeşitli ödüller kazanmak için yarışma imkanına sahip oluyor. CodeFest soruları, dünyadaki diğer bilgisayar olimpiyatlarına benzer formatta hazırlanıyor ve böylece uluslararası alanda ülkemizi temsil edecek öğrencilerimize de kendilerini deneme imkanı veriyor. Tüm Türkiye'den yüzlerce kişiyi ağırlayan CodeFest, bu sene online olarak düzenlenecek.
      .info-outer-wrapper
        .goals-wrapper
          i.fas.fa-bullseye.goals-icon
          span.goals-title Hedeflerimiz
          .goals-each-text-wrapper
            .goals-each-text-point
            span.goals-each-text Lise öğrencileri arasında bilgisayar biliminin, programlamanın bilinirliğini arttırmak ve geleceğin dünyasını şekillendirecek bu alanın önemini vurgulamak.
          .goals-each-text-wrapper
            .goals-each-text-point
            span.goals-each-text Algoritma ve programlamayla ilgilenen farklı okullarda okuyan lise öğrencileri arasında bir iletişim ağı oluşturmak.
          .goals-each-text-wrapper
            .goals-each-text-point
            span.goals-each-text Saygın üniversitelerden davet edeceğimiz uzmanların yaptıracağı çalıştaylar ile öğrencilerin bilgisayar bilimi alanındaki becerilerini geliştirmek.
          .goals-each-text-wrapper
            .goals-each-text-point
            span.goals-each-text Bilgisayar bilimine ve programlamaya ilgi duyan insanların, her yıl bir araya gelip güzel vakit geçireceği birbirlerinden bir şeyler öğreneceği bir gelenek yaratmak.
        .numbers-wrapper
          .numbers-inner-wrapper
            .numbers-each-wrapper
              i.fas.fa-users
              span.numbers-title 700+
              span.numbers-subtitle Katılımcı
            .numbers-each-border
            .numbers-each-wrapper
              i.fas.fa-tasks
              span.numbers-title 30+
              span.numbers-subtitle Ekip Üyesi
            .numbers-each-border
            .numbers-each-wrapper
              i.fas.fa-laptop-code
              span.numbers-title 50+
              span.numbers-subtitle Çalıştay
            .numbers-each-border
            .numbers-each-wrapper
              i.fas.fa-code
              span.numbers-title 60+
              span.numbers-subtitle Soru
          .numbers-inner-wrapper-responsive
            .numbers-inner-wrapper-each-line
              .numbers-each-wrapper
                i.fas.fa-users
                span.numbers-title 600+
                span.numbers-subtitle Katılımcı
              .numbers-each-border
              .numbers-each-wrapper
                i.fas.fa-tasks
                span.numbers-title 30+
                span.numbers-subtitle Ekip Üyesi
            .numbers-inner-wrapper-each-line
              .numbers-each-wrapper
                i.fas.fa-laptop-code
                span.numbers-title 40+
                span.numbers-subtitle Çalıştay
              .numbers-each-border
              .numbers-each-wrapper
                i.fas.fa-code
                span.numbers-title 45+
                span.numbers-subtitle Soru
      //- .workshops-wrapper
        .workshops-title-wrapper
          span.workshops-title Çalıştaylar
          span.workshops-subtitle Şu anda kesinleşmiş çalıştaylar aşağıda verilmiştir. İlerleyen süreçte çalıştaylarımız artacaktır.
        .each-workshop-line
          .each-workshop-wrapper
            .workshop-image-wrapper
              img(src="/res/images/workshop1.png" alt="codefest çalıştaylar")
            .workshop-info-wrapper
              span.workshop-title Tolga Can
              span.workshop-subtitle Computational Geometry Çalıştayı
              a.workshop-link(href="https://avesis.metu.edu.tr/tcan" target="_blank") Hakkında
          .each-workshop-wrapper
            .workshop-image-wrapper
              img(src="/res/images/workshop2.png" alt="codefest çalıştaylar")
            .workshop-info-wrapper
              span.workshop-title Erchan Aptoula
              span.workshop-subtitle Görüntü İşleme Çalıştayı
              a.workshop-link(href="https://www.gtu.edu.tr/personel/1040/160603/erchan-aptoula.aspx" target="_blank") Hakkında
      .old-events-wrapper
        span.old-events-title Geçmiş Etkinlikler
        .each-event-wrapper
          .each-event-title-wrapper
            span.each-event-title CF'21
            span.each-event-date 5 Haziran 2021
          .each-event-content
            .each-event-left-wrapper
              span.event-text Çalıştaylar:
              .each-event-text-wrapper
                .event-text-point
                span.event-text Tolga Can - Computational Geometry
              .each-event-text-wrapper
                .event-text-point
                span.event-text Sinan Kalkan - Cognition, Learning and Robotics
              .each-event-text-wrapper
                .event-text-point
                span.event-text Ege Demir - Yapay Zeka Tadım Turu
              .each-event-text-wrapper
                .event-text-point
                span.event-text Kaya Alptürer & Yunus Aydın - Turing ve Makineleri: P vs. NP
              .each-event-text-wrapper
                .event-text-point
                span.event-text Meryem Boğa - Project Cycle Management
              span.event-text Yarışma Süresi: 5 saat
              span.event-text Ödüller:
              span.event-text 1. takım üyelerine Hediye Çeki
              span.event-text 2. takım üyelerine Hediye Çeki
              span.event-text 3. takım üyelerine Hediye Çeki
            .each-event-right-wrapper
              span.event-text Çıkmış Sorular:
              a.event-link(href="/res/documents/2021.pdf" target="_blank")
                span 2021 Yarışma Soruları (PDF)
              a.event-link(href="https://www.hackerrank.com/codefest-2021" target="_blank")
                span 2021 Yarışma Soruları (Hackerrank)
              iframe.event-video(frameborder="0" allowfullscreen src="https://www.youtube.com/embed/7WVMnst1XQ0" width="400" height="300")
        .each-event-wrapper
          .each-event-title-wrapper
            span.each-event-title CF'19
            span.each-event-date 23-24 Şubat 2019
          .each-event-content
            .each-event-left-wrapper
              span.event-text Çalıştaylar:
              .each-event-text-wrapper
                .event-text-point
                span.event-text Uzay Çetin - Data Science & Social Media Analysis Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Hilal Çakır - Data Structures Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Ahmet Soran - Blockchain Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Hasan Dağ - Data Mining Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Yiğit Yıldırım - AI with Tensorflow Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Meryem Boğa - Project Cycle Management Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Tolga Can - Computational Geometry Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Metin Muradoğlu - Computational Physics Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Mehmet Özdemir - Machine Learning Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Yunus Aydın - Entscheidungsproblem, Siyanur ve Timsahlar: Bilgisayar Biliminin Magazinsel Bir Tarihi Çalıştayı
              span.event-text Ek Yarışma Süresi: 4 saat
              span.event-text Yarışma Süresi: 7 saat
              span.event-text Ödüller:
              span.event-text 1. takım üyelerine Apple Macbook Air
              span.event-text 2. takım üyelerine iPad
              span.event-text 3. takım üyelerine Kobo E-Reader
            .each-event-right-wrapper
              span.event-text Çıkmış Sorular:
              a.event-link(href="/res/documents/2019.pdf" target="_blank")
                span 2019 Yarışma Soruları (PDF)
              a.event-link(href="https://www.hackerrank.com/e9dnwikewe3" target="_blank")
                span 2019 Yarışma Soruları (Hackerrank)
              iframe.event-video(frameborder="0" allowfullscreen src="https://www.youtube.com/embed/3GAubfJELyQ" width="400" height="300")
        .each-event-wrapper
          .each-event-title-wrapper
            span.each-event-title CF'18
            span.each-event-date 31 Mart - 1 Nisan 2018
          .each-event-content
            .each-event-left-wrapper
              span.event-text Çalıştaylar:
              .each-event-text-wrapper
                .event-text-point
                span.event-text Mustafa Altınkayak - Network Security Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Serpil Sayın - Data Mining Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Tolga Can - Biyoinformatik Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Metin Muratoğlu - Bioinformatics Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Hilal Toros - Yol Bulma Algoritmaları Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Uzay Çetin - Yapay Zeka Çalıştayı
              span.event-text Ek Yarışma Süresi: 4 saat
              span.event-text Yarışma Süresi: 7 saat
              span.event-text Ödüller:
              span.event-text 1. takım üyelerine Apple Macbook Air
              span.event-text 2. takım üyelerine iPad
              span.event-text 3. takım üyelerine Kobo E-Reader
            .each-event-right-wrapper
              span.event-text Çıkmış Sorular:
              a.event-link(href="/res/documents/2018.pdf" target="_blank")
                span 2018 Yarışma Soruları (PDF)
              a.event-link(href="https://www.hackerrank.com/akaakeeo" target="_blank")
                span 2018 Yarışma Soruları (Hackerrank)
              iframe.event-video(src="https://www.youtube.com/embed/O6rh0W79EoQ" loading="lazy" frameborder="0" allowfullscreen width="400" height="300")
        .each-event-wrapper
          .each-event-title-wrapper
            span.each-event-title CF'17
            span.each-event-date 18 Mart 2017
          .each-event-content
            .each-event-left-wrapper
              span.event-text Çalıştaylar:
              .each-event-text-wrapper
                .event-text-point
                span.event-text Arzucan Özgür - Metin İşleme Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Evren Samur - Robotik Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Barış Aktemur - Eş Zamanlı Programlama Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Yunus Aydın - Lambda Kalkülüs Çalıştayı
              span.event-text Yarışma Süresi: 5 saat
              span.event-text Ödüller:
              span.event-text 1. takım üyelerine Apple Macbook Air
              span.event-text 2. takım üyelerine Google Chromebook
              span.event-text 3. takım üyelerine Raspberry Pi 3 Media Center Kiti
            .each-event-right-wrapper
              span.event-text Çıkmış Sorular:
              a.event-link(href="/res/documents/2017.pdf" target="_blank")
                span 2017 Yarışma Soruları (PDF)
              a.event-link(href="https://www.hackerrank.com/01189998819991197253" target="_blank")
                span 2017 Yarışma Soruları (Hackerrank)
              iframe.event-video(frameborder="0" allowfullscreen src="https://www.youtube.com/embed/vvRF0K3DbAE" loading="lazy" width="400" height="300")
        .each-event-wrapper
          .each-event-title-wrapper
            span.each-event-title CF'16
            span.each-event-date 14-15 Mayıs 2016
          .each-event-content
            .each-event-left-wrapper
              span.event-text 13 liseden 100’ü aşkın katılımcı ile birincisi düzenlenen CodeFest, senelerdir süregelen bir geleneği başlatmıştır.
              span.event-text Çalıştaylar:
              .each-event-text-wrapper
                .event-text-point
                span.event-text Pınar Yolum - Yapay Zeka ve Veri Madenciliği Çalıştayı
              .each-event-text-wrapper
                .event-text-point
                span.event-text Erkay Savaş - Kriptografi Çalıştayı
              span.event-text Yarışma Süresi: 10 saat
              span.event-text Ödüller:
              span.event-text 1. takım üyelerine Boğaziçi Üniversitesi’nde iki haftalık ücretsiz yaz kampı fırsatı
              span.event-text 2. takım üyelerine Raspberry Pi 3
              span.event-text 3. takım üyelerine Arduino kiti
            .each-event-right-wrapper
              span.event-text Çıkmış Sorular:
              a.event-link(href="/res/documents/2016.pdf" target="_blank")
                span 2016 Yarışma Soruları (PDF)
              a.event-link(href="https://www.hackerrank.com/codefest-2016" loading="lazy" target="_blank")
                span 2016 Yarışma Soruları (Hackerrank)
      .media-wrapper
        span.media-title Galeri:
        .media-content-wrapper
          i.fas.fa-chevron-left.images-go-left-button.not-allowed-button
          .media-inner-wrapper
            if images
              each image in images
                .each-media-image(id=image.original)
                  img(src=image.small loading="lazy" alt="codefest uaa galeri")
          i.fas.fa-chevron-right.images-go-right-button
      .footer-wrapper
        .footer-top-wrapper
          .each-footer-top-column(style="margin-left: 0px")
            span.footer-title Çıkmış Sorular
            a.footer-text(href="/res/documents/2021.pdf" target="_blank") 2021 PDF
            a.footer-text(href="/res/documents/2019.pdf" target="_blank") 2019 PDF
            a.footer-text(href="/res/documents/2018.pdf" target="_blank") 2018 PDF
            a.footer-text(href="/res/documents/2017.pdf" target="_blank") 2017 PDF
            a.footer-text(href="/res/documents/2016.pdf" target="_blank") 2016 PDF
          .each-footer-top-column
            span.footer-title Hakkında
            a.footer-text(href="/res/documents/sponsorluk_dosyası.pdf" target="_blank") Sponsorluk Dosyası
            a.footer-text(href="https://www.youtube.com/embed/7WVMnst1XQ0" target="_blank") 2021 Kapanış Videosu
            a.footer-text(href="https://www.youtube.com/watch?v=3GAubfJELyQ" target="_blank") 2019 Kapanış Videosu
            a.footer-text(href="https://www.youtube.com/watch?v=O6rh0W79EoQ" target="_blank") 2018 Kapanış Videosu
            a.footer-text(href="https://www.youtube.com/watch?v=vvRF0K3DbAE" target="_blank") 2017 Kapanış Videosu
          .each-footer-top-column
            span.footer-title İletişim
            span.footer-text email:
            span.footer-text codefest@my.uaa.k12.tr
            span.footer-text instagram:
            span.footer-text @codefest
            span.footer-text twitter:
            span.footer-text codefest@my.uaa.k12.tr
        .footer-bottom-wrapper
          a.footer-title(href="/") CodeFest'22
          span.footer-text Copyright 2021 - Yunus Gürlek
